.navbar {
  margin-bottom: 1em;
}

.card {
  margin-bottom: 2em;
}

.list-group-item-secondary {
  background-color: rgba(0, 0, 0, 0.03);
}

.p2 {
  max-width: 100%;
  overflow-wrap: break-word;
}

.list-group {
  margin-bottom: 1em;
}

.list-group-item:focus, .list-group-item:hover {
  z-index: 0;
}

.h1 {
  color: #212529;
}

.card > a, .card > a:hover, .card > a:visited {
  color: currentColor;
  text-decoration: none;
}

.card > a:hover {
  border: solid 1px black;
}

.form-comment {
  padding: 0;
}

textarea[id="comment_content"] {
  height: 100%;
  width: 100%;
}

.form-offer {
  padding: 0;
}

input[id="offer_title"], textarea[id="offer_content"], input[id="offer_price"] {
  height: 100%;
  width: 100%;
}
